#timer {
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    right: 150px;
    top: 10px;
    border: 5px solid green;
}

#highScores {
    margin: 10px;
    font-size: large;
    background-color: lightblue;
    padding: 5px;
}

#Question {
    text-align: center;
    font-size: x-large;
    margin-top: 3%;
}

#startButton {
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: green;
    font-size: xx-large;
    padding: 5%;
}

.correct{
    display: none;
}

.wrong{
    display: none;
}

.buttonsList {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.answerButton {
    color: white;
    background-color: blue;
    font-size: 24px;
    padding: 20px 300px;
    margin: 20px;
    text-align: center;
}

.answerButton:hover {
    color: white;
    background-color: blueviolet;
}

#A {
    order: 0;
}

#B {
    order: 0;
}

#C {
    order: 0;
}

#D {
    order: 0;
}

#winLose {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}